[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-budgetbook
Exec=harbour-budgetbook
Name=BudgetBook
# translation example:
# your app name in German locale (de)
Name[de]=Haushaltsbuch

